<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net45" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net45" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net452" />
  <package id="Google.Apis" version="1.28.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.28.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.28.0" targetFramework="net452" />
  <package id="Google.Apis.Plus.v1" version="1.28.0.928" targetFramework="net452" />
  <package id="Google.Apis.YouTube.v3" version="1.28.0.760" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="SharpCompress" version="0.18.0" targetFramework="net452" />
  <package id="Splat" version="2.0.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net452" />
  <package id="YoutubeExplode" version="3.3.0" targetFramework="net452" />
</packages>